<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
      
    <title>IP</title>

</head>
<body>

     <div class="container">
         <div class="header">

         </div>
        <div class="formIP">

            <form action="/" th:method="POST">
                <label>Informe IP</label>
                <!--/*@thymesVar id="ip" type=""*/-->
                <input type="text" name="ip" th:text="*{ip}" />
                <button type="submit">Consultar</button>
            </form>
        </div>
        <div id="map"></div>
     </div>
     <script>
     </script>
     <div class="legenda">
     <p>Legenda</p>
     <table border="1">
         <tr>
             <td>País</td>
             <td th:text="${IPService.getCountry}" id="pais">BR</td>
         </tr>
         <tr>
             <td>Estado</td>
             <td th:text="${IPService.getRegion}" id="estado">GO</td>
         </tr>
         <tr>
             <td>Cidade</td>
             <td th:text="${IPService.getRegionName}" id="cidade">Goiânia</td>
         </tr>
         <tr>
             <td>Lat</td>
             <td th:text="${IPService.getLat}" id="lat">-16.7253029</td>
         </tr>
         <tr>
             <td>Long</td>
             <td th:text="${IPService.getLon}" id="long">-49.2559535</td>
         </tr>
         <tr>
             <td>IP</td>
             <td th:text="${IPService.getQuery}" id="ip"></td>
         </tr>
     </table>
     </div>

 <script>
 window.onload = () => {

     const dados = {
         long1: document.getElementById("long").textContent,
         lat1: document.getElementById("lat").textContent,
         cidade1: document.getElementById("cidade").textContent,
         estado1: document.getElementById("estado").textContent,
         pais1: document.getElementById("pais").textContent,
         ip1: document.getElementById("ip").textContent,
     }

getIP(dados);
 console.log(dados);
 }

 </script>
<script th:src="@{js/script.js}"></script>
</body>
</html>